apiVersion: v1
kind: Service
metadata:
  name: my-tiny-app-consumer-service
  namespace: my-tiny-app
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: my-tiny-app-consumer

