apiVersion: v1
kind: Service
metadata:
  name: my-tiny-app-service
  namespace: my-tiny-app
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: my-tiny-app

