apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: my-tiny-app

resources:
  # Core resources
  - namespace.yaml
  - configmap.yaml
  
  # Infrastructure
  - mongodb/statefulset.yaml
  - mongodb/service.yaml
  - mongodb/service-headless.yaml
  - zookeeper/deployment.yaml
  - zookeeper/service.yaml
  - kafka/deployment.yaml
  - kafka/service.yaml
  
  # Applications
  - app/deployment.yaml
  - app/service.yaml
  - consumer/deployment.yaml
  - consumer/service.yaml
  - ui/deployment.yaml
  - ui/service.yaml
  
  # Networking
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: my-tiny-app
  app.kubernetes.io/component: application

